.left-column {
  grid-area: left-column;
  padding-bottom: 50px;
  padding-top: 50px;
}

#theme-options-wrapper {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
}

.theme-dot {
  background-color: black;
  border: 2px solid $themeDotBorder;
  border-radius: 50%;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  height: 30px;
  margin: 5px;
  width: 30px;

  &:hover {
    border-width: 5px;
  }
}

#light-mode {
  background-color: #fff;
}

#blue-mode {
  background-color: #192734;
}

#green-mode {
  background-color: #78866b;
}

#purple-mode {
  background-color: #7e4c74;
}

#settings-note {
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
}
