.nav-wrapper {
  align-items: center;
  background-color: $mainColor;
  border-bottom: 1px solid $borderColor;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  grid-area: nav-wrapper;
}

#navigation {
  margin: 0;
  padding: 10px;
}

#navigation a {
  color: $mainText;
}

#navigation li {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.dots-wrapper {
  display: flex;
  padding: 10px;
}

#dot-1 {
  background-color: #fc6058;
}

#dot-2 {
  background-color: #fec02f;
}

#dot-3 {
  background-color: #2aca3e;
}

.browser-dot {
  background-color: #000;
  border-radius: 50%;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  height: 15px;
  margin: 5px;
  width: 15px;
}
