#contact-form {
  background-color: $mainColor;
  border: 1px solid $borderColor;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 15px;
  max-width: 600px;
}

#contact-form label {
  font-size: 1.6rem;
  line-height: 4.3rem;
}

#contact-form textarea {
  font-size: 1.4rem;
  min-height: 100px;
}

.input-field {
  background-color: $secondaryColor;
  border: 1px solid $borderColor;
  border-radius: 5px;
  font-size: 1.4rem;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
}

#submit-btn {
  background-color: $buttonColor;
  border: none;
  color: #fff;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
}
