.project-wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, 320px);
  justify-content: center;
  padding-bottom: 50px;
}

.project {
  border: 1px solid $borderColor;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.thumbnail {
  display: block;
  height: 180px;
  object-fit: cover;
  width: 100%;
}

.project-preview {
  background-color: #fff;
  padding: 15px;
}

.project-title {
  color: #000;
  margin: 0;
}

.project-intro {
  color: #4b5156;
  font-size: 1.4rem;
}
