.about-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 50px;
  padding-top: 50px;

  h4,
  p {
    text-align: center;
  }
}

#skills {
  background-color: $previewShadow;
  display: flex;
  font-size: 1.6rem;
  justify-content: space-evenly;
}

.social-links {
  align-content: center;
  display: grid;
  text-align: center;

  div {
    display: flex;
    justify-content: space-around;

    i {
      font-size: 4rem;
    }
  }
}

#social-img {
  height: 350px;
  object-fit: cover;
  width: 100%;
}
